/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

@font-face {
    font-family: "Meta Offc W01 Medium Italic";
    src: url("../fonts/60f26cc8-ebd7-46d2-ad1f-fbe86fed2c84.eot?#iefix");
    src: url("../fonts/60f26cc8-ebd7-46d2-ad1f-fbe86fed2c84.eot?#iefix") format("eot"), url("../fonts/594a060d-cd6c-402d-97ae-fb69367ccc43.woff2") format("woff2"), url("../fonts/a4b07e89-40a3-4ea0-b913-182c78d70710.woff") format("woff"), url("../fonts/1377936/a2ceefa7-5224-4fac-9b6a-16e7738d99a6.ttf") format("truetype");
}

@font-face {
    font-family: "Meta Offc W01 Normal";
    src: url("../fonts/ff7aa537-8e40-4f5e-9c8f-c5bd078c58db.eot?#iefix");
    src: url("../fonts/ff7aa537-8e40-4f5e-9c8f-c5bd078c58db.eot?#iefix") format("eot"), url("../fonts/4ce43a49-0d61-4c34-8054-465d5981fd0b.woff2") format("woff2"), url("../d7b73a86-9fc7-41b4-a367-cbbd20039787.woff") format("woff"), url("../fonts/7fc1eb11-127b-4452-9067-a7e4b1b321d6.ttf") format("truetype");
}

@font-face {
    font-family: "Meta Offc W01 Normal Italic";
    src: url("../fonts/61638e93-dfc8-4d5a-bf18-51ba20be0e16.eot?#iefix");
    src: url("../fonts/61638e93-dfc8-4d5a-bf18-51ba20be0e16.eot?#iefix") format("eot"), url("../fonts/aa402bf1-804d-4f35-be91-e8c32fe36c47.woff2") format("woff2"), url("../fonts/cb1a6f35-bf8b-4c80-9d0d-21659bd4f65b.woff") format("woff"), url("../fonts/4652e743-6e86-4be2-a91f-1a3ae7efd458.ttf") format("truetype");
}

@font-face {
    font-family: "MetaCompPro-Bold W01 Regular";
    src: url("../fonts/ffa70b6d-1f49-44a8-a728-1869c881510f.eot?#iefix");
    src: url("../fonts/ffa70b6d-1f49-44a8-a728-1869c881510f.eot?#iefix") format("eot"), url("../fonts/94400875-1ce0-47f5-b278-c6ccfa287f52.woff2") format("woff2"), url("../fonts/3acf28fb-87d9-4146-b959-a0e26918dc14.woff") format("woff"), url("../fonts/a2e92583-d34d-4e2a-9b1b-ffa7a1ab4fb3.ttf") format("truetype");
}

@font-face {
    font-family: "MetaCompPro-BoldIta W011401225";
    src: url("../fonts/f307bc36-dbba-47dc-80d8-82135e57d587.eot?#iefix");
    src: url("../fonts/f307bc36-dbba-47dc-80d8-82135e57d587.eot?#iefix") format("eot"), url("../fonts/e7a9d7f4-9a37-4b7a-8f3a-05c2ca08f6cc.woff2") format("woff2"), url("../fonts/cf3a0634-c63e-40d5-8c88-cdfb32273f48.woff") format("woff"), url("../fonts/f9269485-154a-46af-9117-02a9d0835139.ttf") format("truetype");
}

@font-face {
    font-family: "MetaCompPro-Book W01 Regular";
    src: url("../fonts/90515b91-4492-4ddc-8dc4-3d2cb36e69ca.eot?#iefix");
    src: url("../fonts/90515b91-4492-4ddc-8dc4-3d2cb36e69ca.eot?#iefix") format("eot"), url("../fonts/3f228e48-0714-461a-ad7f-d9fa1382807a.woff2") format("woff2"), url("../fonts/20bf5e52-30ac-4a2b-9db7-1d7436e293bf.woff") format("woff"), url("../fonts/5f1eee24-a783-43d2-ad68-75604cc9f05b.ttf") format("truetype");
}

@font-face {
    font-family: "MetaCompPro-BookIta W011401253";
    src: url("../fonts/fc4168dd-9e70-4e6d-8144-5f48999a1a58.eot?#iefix");
    src: url("../fonts/fc4168dd-9e70-4e6d-8144-5f48999a1a58.eot?#iefix") format("eot"), url("../fonts/ec32cc7a-e274-4f14-b252-17d82996168d.woff2") format("woff2"), url("../fonts/f5f3c78f-d4ab-4fab-9790-13c49774f530.woff") format("woff"), url("../fonts/b95bd492-a9af-40d7-a07f-971d33478599.ttf") format("truetype");
}

@font-face {
    font-family: "MetaCompPro-Medium W01 Regular";
    src: url("../fonts/f15314f0-3c01-4b0c-85f1-4fc823db8490.eot?#iefix");
    src: url("../fonts/f15314f0-3c01-4b0c-85f1-4fc823db8490.eot?#iefix") format("eot"), url("../fonts/bed27d2b-dc0b-42c8-b8f4-c337f9cf6684.woff2") format("woff2"), url("../fonts/0019971a-26fc-48c5-86d3-5cdddf826b3c.woff") format("woff"), url("../fonts/9d131884-57ab-4822-a405-ce035dd2bdcd.ttf") format("truetype");
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;

}

iframe {
    background: transparent;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


h2 {
    font-family: 'MetaCompPro-Medium W01 Regular';
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Meta Offc W01 Normal';
}


h1 {
    font-family: 'MetaCompPro-Medium W01 Regular';
    font-size: 2vw;
}

.site-header {
    position: absolute;
    width: 100%;

}

.site-inner {
    width: 1920px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}

.printer {
    background-image: url("../img/printer_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.wrap {
    width: 1370px;
    margin: 0 auto;
    max-width: 100%;
}

.main .wrap {
    width: calc(50% + 695px);
    margin-left: calc(50% - 695px);
}

.main .container {
    display: flex;
}

.printer-wrap {
    margin-top: 14vw;
    position: relative;
    width: 84%;
}

.site-header .title {
    position: absolute;
    top: 30px;
    left: calc(50% - 695px);
}

.more-info.button.mobile {
    visibility: hidden;
}


.printer-wrap {
    position: relative;
    width: 84%;
    margin: 22.5% 0 5% 0;
}

section.middle {
    background-image: url(../img/section_bg.png);
    background-size: cover;
    text-align: center;
    color: #ffffff;
    padding: 3vw;
    font-size: 2.5vw;
    font-weight: 300;
}

strong {
    font-family: 'MetaCompPro-Medium W01 Regular';
}

section.last {
    max-width: 100%;
    margin: 0 auto;

}

.last .image img {
    width: 100%;
}

.last .image {
    width: 50%;
}

.last .container {
    display: flex;
    justify-content: space-between;
    padding: 4.81% 0;
}

.last .left-section {
    flex-basis: 35%;
    padding-top: 4.6%;
}

.last .from-container {
    flex-basis: 40%;
    /*background-color: #b3d4fc;*/
    height: 440px;

}

.first .text {
    flex-basis: 28.1%;
    padding-top: 5vw;
}

.printer .image img {
    width: 100%;
}

.printer .image {
    z-index: 0;
}

.printer {
    position: relative;
    z-index: 0;
    flex-basis: 71.9%;

}


.printer .bullet-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.printer .bullet {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    z-index: 1;
}

.bullet.scale-up-tl {
    z-index: 2;
}

.bullet .content {
    background-color: rgba(9, 10, 14, 0.51);
    padding: 10px;
    /*display: none;*/
    z-index: 1;
    margin-top: 40px;
    transform: scale(0);

}

.bullet img {
    position: absolute;
    top: 0;
    left: 0;
}


.bullet .content .title {
    color: #0A9BD2;
    font-family: "MetaCompPro-Medium W01 Regular";

}


.first .text p {
    margin: 1.5vw 0;
}


.last {
    background: url("../img/form_bg.png") no-repeat center center;
    background-size: 70%;
    background-position: 100% 25%;
}


ul {
    list-style: none; /* Remove default bullets */
}

ul li::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #0A9BD2; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}


.bullet .content .text {
    color: #ffffff;
    opacity: 64%;
    font-size: 14px;
    padding: 0;
}

div#bullet-1 {
    top: 35%;
    left: 4%;
}

div#bullet-2 {
    top: 25%;
    left: 15%;
}

div#bullet-3 {
    top: 40%;
    left: 28%;
}

div#bullet-4 {
    top: 35%;
    left: 61%;
}

div#bullet-5 {
    top: 5%;
    left: 60%;
}

div#bullet-6 {
    top: 15%;
    left: 75%;
}

div#bullet-6 img {
    left: 50%;
}


.bullet.scale-up-tl .content {
    -webkit-animation: scale-up-tl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-tl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.mobile-rect {
    display: none;
}

.first .text p {
    border-left: 1px solid #0A9BD2;
    padding-left: 15px;
    color: #010B14;
    opacity: 64%;
}

.first .text h1 {
    margin-bottom: 3.6vw;
}

.left-section p {
    color: #010B14;
    opacity: 64%;
}


.more-info.button {
    background-color: #0A9BD2;
    text-transform: uppercase;
    color: #ffffff;
    padding: 1vw 2vw;
    width: fit-content;
    margin-top: 5vw;
    cursor: pointer;
}


.bullet svg {
    height: 60px;
    width: 60px;
}

.scale-up-tl .printer-button:before {
    background: #099bd582;
    animation-iteration-count: 0;

}

.scale-up-tl .printer-button:after {
    background: #0A9BD2;
}

.printer-button:before {
    content: "";
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: #ffffff94;
    background: #099bd582;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
    opacity: 0.7;
    animation: animationOuter ease-in-out 1s;
    animation-iteration-count: infinite;


}

.printer-button:hover:before {
    animation-iteration-count: 0;
    background: #099bd582;
    background: #ffffff94;
}

.printer-button:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 40%;
    height: 40%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #ffffff;
    background: #0A9BD2;
    opacity: 0.9;
    animation: animationInner ease-in-out 1s;
    animation-iteration-count: infinite;

}

.printer-button:hover:after {
    animation-iteration-count: 1;
    background: #ffffff;
}

.printer-button {
    position: absolute;
    width: 30px;
    height: 30px;
}

@keyframes animationInner {
    0% {
        transform: scaleX(1.00) scaleY(1.00);
    }
    30% {
        transform: scaleX(1.1) scaleY(1.10);
    }
    100% {
        transform: scaleX(1) scaleY(1);

    }
}

@keyframes animationOuter {
    0% {
        transform: scaleX(0.50) scaleY(0.50);
        opacity: 1;
    }
    30% {
        transform: scaleX(0.55) scaleY(0.55);
        opacity: 1;
    }
    100% {
        transform: scaleX(1) scaleY(1);
        opacity: 0.2;

    }
}


/* ----------------------------------------------
 * Generated by Animista on 2019-12-30 12:9:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-tl
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-tl {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

@keyframes scale-up-tl {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

@-webkit-keyframes scale-down-tl {
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

@keyframes scale-down-tl {
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 1921px) {


    .site-header {
        width: 1920px;
    }

    .main .wrap {
        width: 1655px;
        margin-left: 265px;
    }

    .main .container {
        display: flex;
    }

    .printer-wrap {
        margin-top: 268px;
        position: relative;
        width: 84%;
    }

    .site-header .title {
        position: relative;
    }

    h1 {
        font-size: 40px;

    }

    .first .text p {
        margin: 30px 0;
    }

    .first .text h1 {
        margin-bottom: 70px;
    }


    section.middle {
        padding: 60px;
        font-size: 48px;
        font-weight: 300;
    }

}


@media only screen and (max-width: 1400px) {
    .main .wrap {
        width: 100%;
        margin: 0 auto;
    }

    .first .text {
        margin-left: 15px;
    }

    .site-header .title {
        position: absolute;
        top: 10px;
        left: 15px;
    }


    section.last {
        max-width: 90%;
    }
}

@media only screen and (max-width: 1024px) {


    .site-header {
        position: relative;
    }

    .main .container {
        flex-direction: column;
        padding: 0;
    }

    .main .wrap {
        width: 100%;
        margin: 0 auto;
    }


    .main {
        background-image: none;
    }


    .first .text {
        flex-basis: 100%;
        margin: 5%;
        padding: 0;
    }


    section.last {
        max-width: 100%;
    }

    section.middle {
        padding: 10vw 5vw;
    }

    .mobile-rect {
        clip-path: polygon(0% 0%, /* top left */ 0% 0%, /* top left */ 0% 100%, /* top right */ 280% 100%, /* top right */ 0% 12%, /* bottom right */ 0% 0%, /* bottom right */ 0% 0%, /* bottom left */ 0% 0% /* bottom left */);
        display: block;
        background: radial-gradient(circle, #2D373F 0%, #010B14 100%);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: -1;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        height: 80%;
    }

    .last .container {
        flex-direction: column;
        margin: 0 5%;
    }

    .site-header .title {
        position: relative;
        top: auto;
        left: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .site-header .wrap {
        margin: 5%;
        width: 90%;
    }

    .middle .image img {
        width: 10%;
        padding: 15px;
    }

    .last .container {
        padding: 2% 0;
    }

    .middle .title {
        font-size: 5.2vw;
    }

    h1 {
        font-size: 7.6vw;
        margin: 0;
    }

    .last {
        background: url("../img/form_bg_mobile.png") no-repeat center right;
        background-size: 100%;
    }

    .last .container {
        background: none;
    }


    .printer {
        background: none;
    }

    .printer-wrap {
        position: relative;
        width: 99%;
        margin: 2.5% 0 5% 0;
    }

    .last .from-container {
        /*background-color: #b3d4fc;*/
        height: 580px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }

    .title img {
        width: 40%;
        max-width: 230px;
    }


    .more-info.button.mobile {
        visibility: visible;
    }

    .bullet .content {
        position: absolute;
        width: 300px;
    }

    div#bullet-1 .content {
        top: -125px;
    }
    div#bullet-3 .content {
        left: -50px;
    }

    div#bullet-5 .content {
        left: -150px;
    }

    div#bullet-4 .content {
        left: -150px;
    }

    div#bullet-6 .content {
        left: -200px;
    }

    div#bullet-5 {
        left: 55%;
    }


}


@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

